.main-image {
    width: 100%;    
    border: 1px solid #ccc;
    padding: 4px;
}


.song-title {
    display:block;
    //font-family:$serif;
    margin-bottom:.5rem;
}
audio {
    width:100%;
    margin-bottom:1rem;
}
